@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,300italic,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import "https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded";
@import "https://fonts.googleapis.com/css?family=Pontano+Sans";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* PORTFOLIO GRID */
.projects {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0; }

.itemBox {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: url("https://images.unsplash.com/photo-1431578500526-4d9613015464?q=80&fm=jpg&s=169b4f4e6f3882a03b6b93b2e6848052");
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  min-width: 200px; }

.itemBox1 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: url("../img/game.png");
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  min-width: 200px; }

.itemBox2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: url("../img/blog.png");
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  min-width: 200px; }

.itemBox3 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: url("../img/closet.png");
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  min-width: 200px; }

.item {
  font-family: "Pontano Sans", sans-serif;
  color: #000;
  margin-top: 50px;
  margin: 20px; }

h2 {
  padding-top: 10px; }

.portfolio {
  background-color: #889393;
  margin-top: 20px; }

.divider {
  display: flex;
  flex-direction: column;
  height: 80px; }
  .divider .logo {
    align-self: center;
    justify-content: center;
    z-index: 10;
    margin: 5px 0;
    padding-top: 10px; }

.nav {
  padding-right: 3em;
  background: #889393;
  font-family: "Roboto Slab", serif;
  font-weight: 100; }
  .nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 1em; }
    .nav ul li {
      display: inline-block; }
    .nav ul a {
      color: white;
      text-decoration: none;
      transition: all .5s ease;
      padding: 1em; }
      .nav ul a:hover {
        background: #C96F4D; }

body {
  font-family: "Pontano Sans", sans-serif; }

.fullName {
  padding: 35% 10% 0;
  max-width: 100%;
  text-align: center;
  margin-bottom: 110px; }
  .fullName #name {
    font-family: "Stint Ultra Expanded", cursive;
    font-size: 4em;
    color: #C96F4D; }
  .fullName #profession {
    font-family: "Pontano Sans", sans-serif;
    font-size: 2em;
    color: #fff;
    line-height: 70px; }
    .fullName #profession em {
      border-bottom: 3px dotted white;
      padding-top: 2px; }

@media screen and (min-width: 500px) {
  .fullName {
    padding: 25% 10% 0; } }
@media screen and (min-width: 750px) {
  .fullName {
    padding: 20% 10% 0;
    font-size: 125%; } }
@media screen and (min-width: 1150px) {
  .fullName {
    padding: 10% 10% 0;
    font-size: 150%; } }
.box {
  height: 10em;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  background-color: #C96F4D;
  display: flex;
  flex-direction: column; }
  .box #niki {
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    padding: 30px; }

.resume {
  background-color: #AFC4D9; }

.section {
  font-family: "Stint Ultra Expanded", cursive;
  font-size: 2em;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 1em;
  border-bottom: 3px dotted white;
  color: #fff; }

body {
  background: #AFC4D9; }

/*# sourceMappingURL=styles.css.map */
