.nav {
  padding-right: 3em;
  background: $nav;
  font-family: $roboto-slab;
  font-weight: 100;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 1em;
    li{
      display: inline-block;
    }
    a {
      color: white;
      text-decoration: none;
      transition: all .5s ease;
      padding: 1em;
      &:hover {
        background: $orange;
      }
    }
  }
}
