@import "footer";
@import "grid";
@import "header";

.subHeader{
  padding: 2em;
  background-image: url('../img/grid.png');
  background: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#name {
  font-family: $stint;
  font-size: 5em;
}
#profession {
  font-family: $pontano;
  font-size: 3em;
}
#niki {
  position: absolute;
  border-radius: 50%;
  border: 4px dotted $orange;
  z-index: 5;
  margin-left: 900px;
  top: 300px;
  /**ADD Media query**/
}
