@import "footer";
@import "grid";
@import "header";

.subHeader{
  padding: 2em;
  background-image: url('../img/grid.png');
  background: contain;
  background-size: contain;
  height: 480px;
}
#name {
  font-family: $stint;
  font-size: 5em;
}
#profession {
  font-family: $pontano;
  font-size: 3em;
}
#niki {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
  margin-left: 550px;
  top: 255px;
}
