//Fonts
$roboto: 'Roboto', sans-serif;
//thin 100/italic, light 300/italic, normal 400/italic, medium 500/italic, bold 700/italic, ultra-bold 900/italic
$roboto-slab: 'Roboto Slab', serif;
//Font weight: thin 100, light 300, normal 400, bold 700
$stint: 'Stint Ultra Expanded', cursive;
$pontano: 'Pontano Sans', sans-serif;


//Colors
$background: #AFC4D9;
$nav: #889393;
$yellow: #889393;
$dark-grey: #504F54;
$orange: #C96F4D;
